# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# env (keep .env.example)
.env
.env.local
.env*.local

# metro / debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# native builds
/ios
/android
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# os
.DS_Store
Thumbs.db
